node-red/.flows.json.backup
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"79ca720.6e5359","type":"mqtt-broker","name":"","broker":"demo_mqtt-broker_1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"77c54e70.23ca7","type":"kafka-broker","name":"","hosts":"kafka:19092","selfsign":false,"usetls":false,"cacert":"","clientcert":"","privatekey":"","passphrase":""},{"id":"f1331c9.d93f8e","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"owntracks/#","qos":"2","datatype":"auto","broker":"79ca720.6e5359","nl":false,"rap":true,"rh":0,"x":270,"y":260,"wires":[["5d1fa880.ff9e48","b99241a.c42e2c"]]},{"id":"5d1fa880.ff9e48","type":"debug","z":"f6f2187d.f17ca8","name":"mqtt_debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":300,"wires":[]},{"id":"2a8379ed.7f66f6","type":"function","z":"f6f2187d.f17ca8","name":"configureBusGPSData","func":"msg.payload = {\n    \"deviceId\": \"\",\n    \"timestamp\": msg.payload.tst,\n    \"lon\": msg.payload.lon,\n    \"lat\": msg.payload.lat\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":440,"wires":[["699bca9.acf1234"]]},{"id":"8beadd3.0d8082","type":"inject","z":"f6f2187d.f17ca8","name":"dummyData","props":[{"p":"payload.tst","v":"","vt":"date"},{"p":"payload.lon","v":"30.1425","vt":"num"},{"p":"payload.lat","v":"39.2525","vt":"num"},{"p":"deviceId","v":"Bus 1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":810,"y":440,"wires":[["2a8379ed.7f66f6"]]},{"id":"95bf631f.9c1ab","type":"debug","z":"f6f2187d.f17ca8","name":"structured_data_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":440,"wires":[]},{"id":"699bca9.acf1234","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"str","pretty":false,"x":1210,"y":440,"wires":[["95bf631f.9c1ab","c6e871b8.07bba"]]},{"id":"b99241a.c42e2c","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":260,"wires":[["835e48f6.ece558"]]},{"id":"1bb37f0f.da2061","type":"function","z":"f6f2187d.f17ca8","name":"configureBusGPSData","func":"var topic=\"\"\n\nif(msg.topic === \"owntracks//davinci\")\n    topic = \"Bus 1\";\n\nmsg.payload = {\n    \"deviceId\": topic,\n    \"timestamp\": msg.payload.tst + 3 * 60 * 60 * 1000,\n    \"lon\": msg.payload.lon,\n    \"lat\": msg.payload.lat\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":260,"wires":[["1203e20c.1b393e","1c11da6c.163606"]]},{"id":"1203e20c.1b393e","type":"debug","z":"f6f2187d.f17ca8","name":"structured_data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":300,"wires":[]},{"id":"c6e871b8.07bba","type":"kafka-producer","z":"f6f2187d.f17ca8","name":"","broker":"77c54e70.23ca7","topic":"gps_data","requireAcks":1,"ackTimeoutMs":100,"attributes":0,"x":1420,"y":260,"wires":[]},{"id":"1c11da6c.163606","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"str","pretty":false,"x":1230,"y":260,"wires":[["c6e871b8.07bba"]]},{"id":"835e48f6.ece558","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload._type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":260,"wires":[["861edb6d.254ef8"]]},{"id":"861edb6d.254ef8","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.lon","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":260,"wires":[["3e971799.7600d8"]]},{"id":"3e971799.7600d8","type":"switch","z":"f6f2187d.f17ca8","name":"","property":"payload.lat","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":260,"wires":[["1bb37f0f.da2061"]]}]